.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #092ed3;
}

.SMBee_svg__pcb_board-fr4 {color:dimgrey;}
.SMBee_svg__pcb_board-cu {color: lightgrey;}
.SMBee_svg__pcb_board-cf {color: goldenrod;}
.SMBee_svg__pcb_board-sm {color: black;opacity: 0.6;}
.SMBee_svg__pcb_board-ss {color: white;}
.SMBee_svg__pcb_board-sp {color: silver;}
.SMBee_svg__pcb_board-out {color: black;}
